
@{
    ViewData["Title"] = "About Us";
    Layout = "_StudyAbroadLayout2";

}
@section CSS {
    <link rel="stylesheet" href="~/study-abroad/css/about.css">
}
<div class="container-fluid about-header-bg">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-4"></div> -->
            <div class="col-md-12 col-sm-12 col-12 about-header-a">
                <h1 class="about-us">
                    About Us
                </h1>

            </div>
            <!-- <div class="col-md-4"></div> -->
        </div>
        <div class="row">

            <div class="col-md-12 about-header-a-1">
                <p class="about-text">
                    Vestibulum commodo sapien non elit porttitor, vitae volutpat nibh mollis. Nulla porta risus id neque tempor, in efficitur justo imperdiet. Etiam a ex at ante tincidunt imperdiet. Nunc congue ex vel nisl viverra, sit amet aliquet lectus
                    ullamcorper.
                </p>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid  consult">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 consult-a-1">
                <h1>ABOUT KHM <br> CONSULTANCY</h1>
                <p>
                    Dear Student,<br> Duis rhoncus dui venenatis consequat porttitor. Etiam aliquet congue consequat. In posuere, nunc sit amet laoreet blandit, urna sapien imperdiet lectus, et molestie sem tortor quis dui. Donec molestie nisi iaculis
                    sodales mollis. Nullam non tellus sed elit pulvinar dignissim ut vel ex. Phasellus at leo sed est egestas posuere eu eget magna. Donec eleifend, nisi ac aliquet tincidunt, quam urna vehicula dui, ac fringilla ipsum ligula id mi.
                    Vestibulum vitae sapien dapibus mi condimentum commodo. Donec turpis dolor, finibus a efficitur ut, blandit non felis. <br><br> Best wishes for your future endeavor. <br><br> CEO, <br> Name <br>
                    <strong>KHM Consultancy</strong>
                </p>
            </div>
            <div class="col-lg-6 col-md-12 consult-a-2">
                <img src="~/study-abroad/img/Image 2.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid choose">
    <div class="container">
        <div class="row">
            <div class="col-md-12 choose-a">
                <h1>Why Choose Us</h1>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid owl-slider">
    <div class="container">

        <div class="row">

            <div class="owl-carousel owl-theme sslid ">
                <div class="k">
                    <div class="item about-slider">
                        <br>

                        <img src="~/study-abroad/img/Group 3456.svg" alt="">
                        <br>
                        <strong>Career Counselling</strong>

                        <p>Vestibulum commodo sapien non elit porttitor, vitae volutpat nibh mollis. Nulla porta risus id neque tempor, in efficitur</p>

                        <strong>  <a href="#">Learn more <i class="fa-solid fa-right-long"></i></a></strong>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="k">
                    <div class="item about-slider">
                        <br>
                        <img src="~/study-abroad/img/Group 3457.svg" alt="">
                        <br>
                        <strong>University Admissions</strong>

                        <p>Vestibulum commodo sapien non elit porttitor, vitae volutpat nibh mollis. Nulla porta risus id neque tempor, in efficitur</p>

                        <strong>  <a href="#">Learn more <i class="fa-solid fa-right-long"></i></a></strong>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="k">
                    <div class="item about-slider">
                        <br>
                        <img src="~/study-abroad/img/Group 3458.svg" alt="">
                        <br>
                        <strong>Visa Consultancy</strong>

                        <p>Vestibulum commodo sapien non elit porttitor, vitae volutpat nibh mollis. Nulla porta risus id neque tempor, in efficitur</p>

                        <strong><a href="#">Learn more <i class="fa-solid fa-right-long"></i></a></strong>
                        <br> <br>
                    </div>
                </div>
                <div class="k">
                    <div class="item about-slider">
                        <br>
                        <img src="~/study-abroad/img/Group 3459.svg" alt="">
                        <br>
                        <strong>Accomodation</strong>

                        <p>Vestibulum commodo sapien non elit porttitor, vitae volutpat nibh mollis. Nulla porta risus id neque tempor, in efficitur</p>

                        <strong>  <a href="#">Learn more <i class="fa-solid fa-right-long"></i></a></strong>
                        <br> <br>
                    </div>
                </div>
                <div class="k">
                    <div class="item about-slider last-strong">
                        <br>
                        <img src="~/study-abroad/img/Group 3460.svg" alt="">
                        <br>
                        <strong>Pre Departure Briefing</strong>

                        <p>Vestibulum commodo sapien non elit porttitor, vitae volutpat nibh mollis. Nulla porta risus id neque tempor, in efficitur</p>

                        <strong>  <a href="#">Learn more <i class="fa-solid fa-right-long"></i></a></strong>
                        <br> <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Featured Universities START -->
<div class="container-fluid featured-sec mt-5">
    <div class="container" id="featured-universities">
       
    </div>
</div>
<!-- Featured Universities END -->
