
@{
    ViewData["Title"] = "OurServices";
    Layout = "_StudyAbroadLayout2";
}
@section CSS{ 
    <link rel="stylesheet" type="text/css" href="~/study-abroad/css/our-services.css" />
}

<main>
    <section class="header-section-2">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <h1 class="header-title">Our Services</h1>
                        <p class="services-header-text">
                            Vestibulum commodo sapien non elit porttitor, vitae volutpat nibh mollis. <br> Nulla porta risus id neque tempor, in efficitur justo imperdiet. <br>Etiam a ex at ante tincidunt imperdiet. Nunc congue ex vel nisl viverra,<br>sit
                            amet aliquet lectus ullamcorper.
                        </p>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section-1">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <h1 class="main-heading-1 services-head">What Services We Provide</h1>
                        <p class="main-text-1">
                            We deal in overseas education, IELTS preparation & <br /> professional Spoken English courses
                        </p>
                    </div>
                </div>
                <div class="row service-cards">
                    <!-- Card 1 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card service-card service-card-1">
                            <div class="card-body service-card-body">
                                <h5 class="card-title service-card-title">FREE ASSESSMENT</h5>
                                <p class="card-text service-card-text">
                                    For determining the strengths which can give you an edge while applying for world top universities or for moving ahead in your future, we conduct extensive counseling sessions with students.These sessions are specified for pre-career testing, academic,
                                    extracurricular and leadership qualities’ evaluation, and strengths and weaknesses identification.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card service-card service-card-2">
                            <div class="card-body service-card-bdy">
                                <h5 class="card-title service-card-title">UNIVERSITY ELIGIBILITY CRITERIA</h5>
                                <p class="card-text service-card-text">
                                    The search for finding the best university according to your interests, previous education and budget can be a difficult and tricky procedure. Our counselors, with their expertise about the universities whose eligibility criteria can be met best by you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card service-card service-card-3">
                            <div class="card-body service-card-body">
                                <h5 class="card-title service-card-title">VISA GUIDANCE</h5>
                                <p class="card-text service-card-text">
                                    We offer comprehensive visa application and filing guidance. With an aim to simplify the process for students and make sure that they file the right visa at the appropriate time with accurate information, our office provides the complete procedure counseling.
                                    Moreover, to maintain our 100 percent visa success rate, our UK office prepares the ...
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 4 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card service-card service-card-4">
                            <div class="card-body service-card-body">
                                <h5 class="card-title service-card-title">ADMISSION SERVICES</h5>
                                <p class="card-text service-card-text">
                                    Once you have narrowed down the educational institutes and a relevant program, our London head office carries the process of ensuring your admission in the university forward. With a stellar reputation for providing quality students, AR Education has
                                    maintained a 100 percent admission success rate till now.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 5 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card service-card service-card-5">
                            <div class="card-body service-card-body">
                                <h5 class="card-title service-card-title">FREE ASSESSMENT</h5>
                                <p class="card-text service-card-text">
                                    For determining the strengths which can give you an edge while applying for world top universities or for moving ahead in your future, we conduct extensive counseling sessions with students.These sessions are specified for pre-career testing, academic,
                                    extracurricular and leadership qualities’ evaluation, and strengths and weaknesses identification.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 6 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card service-card service-card-6">
                            <div class="card-body service-card-body">
                                <h5 class="card-title service-card-title">VISA GUIDANCE</h5>
                                <p class="card-text service-card-text">
                                    We offer comprehensive visa application and filing guidance. With an aim to simplify the process for students and make sure that they file the right visa at the appropriate time with accurate information, our office provides the complete procedure counseling.
                                    Moreover, to maintain our 100 percent visa success rate, our UK office prepares the ...
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 7 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card service-card service-card-7">
                            <div class="card-body service-card-body">
                                <h5 class="card-title service-card-title">ADMISSION SERVICES</h5>
                                <p class="card-text service-card-text">
                                    Once you have narrowed down the educational institutes and a relevant program, our London head office carries the process of ensuring your admission in the university forward. With a stellar reputation for providing quality students, AR Education has
                                    maintained a 100 percent admission success rate till now.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 8 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card service-card service-card-8">
                            <div class="card-body service-card-body">
                                <h5 class="card-title service-card-title">FREE ASSESSMENT</h5>
                                <p class="card-text service-card-text">
                                    For determining the strengths which can give you an edge while applying for world top universities or for moving ahead in your future, we conduct extensive counseling sessions with students.These sessions are specified for pre-career testing, academic,
                                    extracurricular and leadership qualities’ evaluation, and strengths and weaknesses identification.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Card 9 -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="card service-card service-card-9">
                            <div class="card-body service-card-body">
                                <h5 class="card-title service-card-title">VISA GUIDANCE</h5>
                                <p class="card-text service-card-text">
                                    We offer comprehensive visa application and filing guidance. With an aim to simplify the process for students and make sure that they file the right visa at the appropriate time with accurate information, our office provides the complete procedure counseling.
                                    Moreover, to maintain our 100 percent visa success rate, our UK office prepares the ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section-2 slider">
        <div class="container-fluid">
            <div class="container" id="featured-universities">

            </div>
        </div>
    </section>
</main>

@*<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            dots: true,
            responsive: {
                0: {
                    items: 1,
                },
                600: {
                    items: 3,
                },
                1000: {
                    items: 4,
                },
            },
        });
    });
</script>*@

