@model Study_Abroad.Models.Campus

@{ ViewData["Title"] = "Edit";
                Layout = "_Layout1"; }

@*<h1>Edit</h1>

    <h4>Campus</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Campus_ID" />
                <div class="form-group">
                    <label asp-for="Campus_Name" class="control-label"></label>
                    <input asp-for="Campus_Name" class="form-control" />
                    <span asp-validation-for="Campus_Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="University_ID" class="control-label"></label>
                    <input asp-for="University_ID" class="form-control" />
                    <span asp-validation-for="University_ID" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Country_Status" /> @Html.DisplayNameFor(model => model.Country_Status)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="DateTime" class="control-label"></label>
                    <input asp-for="DateTime" class="form-control" />
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@


<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <!--<div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="breadcrumbs-top">
                    <h3 class="content-header-title float-left pr-1 mb-0">Campus</h3>
                    <div class="breadcrumb-wrapper d-none d-sm-block">
                        <ol class="breadcrumb p-0 mb-0 pl-1">
                            <li class="breadcrumb-item">
                                <a href="index.html"><i class="bx bx-home-alt"></i></a>
                            </li>-->
        @*<li class="breadcrumb-item active">
                Datatable
            </li>*@
        <!--</ol>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="content-body">
            <div class="row">
                @*<div class="col-12">
                        <p>
                            Read full documnetation
                            <a href="https://datatables.net/" target="_blank">here</a>
                        </p>
                    </div>*@
            </div>
            <!-- Zero configuration table -->
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            @*<div class="card-header">
                                    <h4 class="card-title">Zero configuration</h4>
                                </div>*@
                            <div class="card-body card-dashboard">
                                @*<p class="card-text">
                                        DataTables has most features enabled by default, so all you need
                                        to do to use it with your own tables is to call the construction
                                        function: $().DataTable();.
                                    </p>*@
                                <div class="table-responsive">
                                    <form asp-action="Edit">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="row col-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="CampusName" class="control-label"></label>
                                                    <input asp-for="CampusName" class="form-control" />
                                                    <span asp-validation-for="CampusName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">University Name</label>
                                                    <select asp-for="UniversityId" class="form-control" asp-items="ViewBag.University_ID"></select>
                                                    <span asp-validation-for="UniversityId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row col-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="DateTime" class="control-label"></label>
                                                    <input name="DateTime" class="form-control" value="@DateTime.Now" />
                                                    <span asp-validation-for="DateTime" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Status
                                                    </label>
                                                    <select asp-for="Status" class="form-control">
                                                        <option value="True">True</option>
                                                        <option value="False">False</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    </form>
                                    <div>
                                        <a asp-action="Index">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Zero configuration table -->

        </div>
    </div>
</div>
<!-- END: Content-->
